# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
*.swiftpm/xcode/package.xcworkspace/xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# SPM
.build/
.swiftpm/

# Environment
.env
.env.local

# macOS
.DS_Store
